@media screen and ( max-width: 640px) {
  #social-flut {
    display: none;
  }
  .page-path {
    display: none;
  }
}

@media (max-width: 767px) {
  .carousel {
    display: none;
  }
  .conhecendomedilab {
    margin-top: 100px;
  }
  .logo-mobile {
    display: block;
  }
  #mlogo {
    display: none;
  }
  .social-nav {
    display:none;
  }
  .social-bottom {
    display:inline-block;
  }
  .conhecendomedilab {
    margin-top:0;
  }
  .texto-sobre {
    margin-top:30px;
  }
  .ftr-left, .ftr-center, .ftr-right {
    text-align: center;
    margin-top:30px;
  }
  .rodape2 {
    margin-bottom:50px;
  }
}

@media (max-width: 991px) {
  #navbottom {
    padding-top: 15px;
  }
  #navbottom a, .dropdown {
    display: block;
    text-align: center;
  }
  #navtop {
    display: none;
  }
  #estilototop {
    display: none !important;
  }
}
