/*!
 * Medilab Sistemas (https://medilabsistemas.com.br)
 * Desenvolvido por Lucas Pedro e Moisés Inácio
 * Copyright 2017
 */

body {
  margin: 0;
}


/* ======ESTRUTURA DOS NAVS====== */

/*#total-header {
  position: fixed;
  z-index: 999;
  line-height: normal;
}

#navtop {
  width: 100%;
  height: 70px;
  transition: 0.3s;
  transition-delay: 0.2s;
}

#navtop img {
  width: auto;
  height: 40px;
  margin-top: 15px;
  margin-left: 20px;
}

#navtop p {
  float: right;
  margin: 0;
  padding: 19px;
}

#navbottom {
  width: 100%;
  min-height: 60px;
  display: inline-flex;
}

#mlogo {
  width: auto;
  height: 40px;
  margin-right: 15px;
  margin-top: 10px;
}

#menu-sanduba {
  color: #666666;
}

.mlogo {
  margin-left: -170px;
  transition: 0.3s;
}

.logo-mobile {
  display: none;
}*/


/* ======SCROLLED DOS NAVS====== */

/*.navtop-scrolled {
  margin-top: -70px;
  transition: 0.5s;
  transition-delay: 0.1s;
}

.mlogo-scrolled {
  margin-left: 0;
  transition: 0.3s;
  transition-delay: 0.5s;
}*/


/* ======ESTILO DOS NAVS====== */

/*.navtop-estilo {
  background-color: #fff;
  font-weight: 300;
  color: #666666;
}

.navbottom-estilo {
  background-color: #f3f3f3;
  transition: 0.2s;
  margin-top: -1px;
}

.navbottom-scrolled {
  background-color: #f3f3f3;
  transition: 0.2s;
}*/


/* ======ESTILO DOS LINKS DE MENU====== */

/*.navbottom-estilo a {
  padding: 18px 20px;
  text-decoration: none;
  color: #666666;
  transition: 0.1s;
  font-weight: 300;
  background-color: #F3F3F3;
  transition: 0.1s;
}

.navbottom-estilo a:first-child {
  padding: 0;
}

.navbottom-estilo a:hover {
  color: #fff;
  background-color: #0067AC;
  transition: 0.1s;
}

.navbottom-estilo a:focus {
  color: #fff;
  background-color: rgb(23, 111, 193);
  transition: 0.1s;
}

.navbottom-estilo a:hover:first-child {
  background-color: #f5f5f5;
}*/


/* ======ESTILO DO DROPDOWN====== */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown2, .dropdown3, .dropdown4, .dropdown5 {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgba(245, 245, 245, 0.90);
  color: #666666;
  padding: 18px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  font-weight: 300;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efefef;
  width: 300px;
  z-index: 1;
  transition: 0.1s;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(23, 111, 193, 0.80);
}

.dropdown-content2 {
  display: none;
  position: fixed !important;
  background-color: #efefef;
  width: 200px;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(23, 111, 193, 0.80);
  margin-left:267px !important;
  margin-top:-50px;
}
.dropdown-content3 {
  display: none;
  position: fixed !important;
  background-color: #efefef;
  width: 200px;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(23, 111, 193, 0.80);
  margin-left:267px !important;
  margin-top:-50px;
}

.dropdown-content h5 {
  color: #666666;
  margin: 0;
  padding-left: 10px;
}

.dropdown-content a {
  color: #666666;
  padding: 12px 25px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #0067AC;
  transition: 0.1s;
}

.dropdown-content a:first-child {
  padding: 12px 25px;
  padding-right:123\px;
}

.dropdown-content a:hover:first-child {
  background-color: #0067AC;
  padding: 12px 25px;
  padding-right:123\px;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.1s;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
  position: relative; /*COLOCAR POSITION RELATIVE PARA MOBILE */
  transition: 0.5s;
  margin-left: 200px;
}
.dropdown3:hover .dropdown-content3 {
  display: block;
  position: relative; /*COLOCAR POSITION RELATIVE PARA MOBILE */
  transition: 0.5s;
  margin-left: 200px;
}

.dropdown:hover .dropbtn {
  background-color: #0067AC;
  color: #ffffff;
  transition: 0.1s;
}

.dropdown2:hover .dropbtn {
  background-color: #0067AC;
  color: #ffffff;
  transition: 0.1s;
}
.dropdown3:hover .dropbtn {
  background-color: #0067AC;
  color: #ffffff;
  transition: 0.1s;
}


/* ========= ESTILO DAS BANDEIRAS ========= */

.dropdown-content a img {
  width: 15px;
  height: 15px;
}


/* ========= FECHA HEADER ========= */


/* ========= COOL PLACEHOLDER ========= */

.label-place-holder {
  text-align: left;
  position: absolute;
  width: 100%;
  top: 30px;
  display: block;
  line-height: 40px;
  height: calc(100% - 30px);
  font-size: 15px;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: normal;
}

.place-holder-input.focus .label-place-holder {
  top: 0;
  font-size: 12px;
}

.place-holder-input.color-focus, .place-holder-input.color-focus * {
  color: #0069b3;
  border-bottom-color: #0069b3;
}

.place-holder-input {
  position: relative;
  height: 100px;
  border-bottom: solid 1px #999999;
  transition: 0.4s;
}

.place-holder-input * {
  color: #999999;
}

.place-holder-input input {
  left: 0;
  outline-width: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 30px;
  width: 100%;
  height: calc(100% - 30px);
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: black !important;
}

.place-holder-input .glyphicons {
  position: absolute;
  top: 34px;
  font-size: 22px;
  right: 0;
  text-align: right;
  transition: color 0.4s;
}


/* ========= PROPRIEDADES ADICIONAIS ========= */

.banner-link {
  color: #fff;
}

.banner-link:hover {
  color: #e1e1e1;
}

.subtitle {
  color: #0069B2 !important;
  text-align: center;
  font-weight: 300;
  margin-top: -20px;
  font-size:18px;
}

.title-produto {
  text-align: center;
  font-weight: 300;
}

.subtitle-bg {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

.sobre {
  background-color: #FDFDFD;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sobre-mw {
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.texto-sobre {
  text-align: center;
}

.img-sobre {
  padding-bottom: 40px;
}

.img-mediworks {
  padding-top: 0;
  padding-bottom: 0;
}

.img-monitor {
  margin-top: 50px;
  box-shadow:0px 24px 38px 3px rgba(0, 0, 0, 0.4);
}

.bg-topo {
  padding-top: 100px;
}

.bg-topo-img {
  padding-top:100px;
  color:#fff;
  background-image: url(../img/medilab_bg_2.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.bg-topo-blue {
  background-color: #0066AB;
  padding-top: 100px;
  color: #fff;
}

.bg-topo-lightgray {
  background-color: #FCFCFC;
  padding-top: 100px;
  color: #fff;
}

.bg-section-gray {
  /*background-color:#F6F6F6;*/
  background-color: #FCFCFC;
}

.bg-section-darkgray {
  /*background-color:#F6F6F6;*/
  background-color: #2e2e2e;
}

.bg-section-blue {
  background-color: #0077BC;
}

.desc-mdlb {
  padding-bottom: 30px;
}

.trabalheconosco, .empresa {
  background-color: #fcfcfc;
  padding-bottom: 20px;
}

.trabalheconosco p, h4 {
  text-align: center;
  color: #666666;
}

.curriculo {
  display: box;
  box-shadow: 1px 1px 10px #e1e1e1;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.icon-group {
  width:100%;
  height: auto;
  margin: auto;
  margin-top:10px;
}
.icon-group img {
  width:12.5%;
  height:auto;
  padding:0 5px 0px 5px;
}
.icon-group-telerradiologia {
  width:100%;
  height: auto;
  margin: auto;
  margin-top:10px;
}
.icon-group-telerradiologia img {
  width:18.5%;
  height:auto;
  padding:0px 5px 0px 5px;
}
.icon-group-ris {
  width:100%;
  height: auto;
  margin: auto;
  margin-top:10px;
}
.icon-group-ris img {
  width:18.5%;
  height:auto;
  padding:0px 5px 0px 5px;
}
.icon-group-ris li:first-child{
  margin-left:30%;
}

.mediworks-sct {}

.pacs-sct {
  min-height:500px;
}
.pacs-sct h1 {
  text-align:left;
}
.pacs-sct ul {
  padding:0;
}
.pacs-sct li {
  list-style:none;
  display:inline;
}

.p-big {
  font-size: 20px;
}

.page-path {
  float:left;
  padding:10px 10px 10px 0;
}
.page-path i, .page-path a, .page-path p {
  padding:5px 5px 5px 0;
  color:#666666;
}

/* ====================SOLUÇÕES==================== */
/*.box-solucao {
  width:100%;
  height: auto;
  border:2px solid transparent;
  padding:10px;
  transition:0.1s;
  color:#0072BC;
  text-align:center;
}
.box-solucao:hover {
  border:2px solid #0072BC;
  transition:0.1s;
}
.box-solucao img {
  width:100%;
  padding-left:20%;
  padding-right:20%;
}
.box-solucao h2 {
  margin:0;
  padding-top:10px;
  font-weight:600;
}

.box-solucao p {
  color:#666666;
}

.box-inner-top {
}
.box-inner-top:hover {
}

.box-inner-middle {
  padding-top:10px;
  padding-bottom:10px;
}
.box-inner-middle:hover {
}

.box-inner-bottom {
  padding-top:10px;
  padding-bottom:10px;
}
.box-inner-bottom:hover {
}*/

/* ======================RODAPE====================== */

/*.rodape1 {
  width: 100%;
  height: auto;
  background-color: #0066AB;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ftr-hr {
  width:100%;
  border-color:#dddddd;
  margin-top:40px;
  border-top:1px;
}

.ftr-left, .ftr-center, .ftr-right {
  color: #fff;
}

.ftr-left h3, .ftr-center h3, .ftr-right h3 {
  font-weight: 200;
}

.ftr-left h5, .ftr-center h5, .ftr-right h5 {
  font-size: 18px;
}

.ftr-left a {
  margin-right: 15px;
}

.ftr-left a:last-child {
  margin-right: 0;
}

.ftr-center a {
  color: #fff;
  background-color: transparent;
  transition: 0.1s;
  display: inline-block;
}

.ftr-center a:hover {
  color: #f5f5f5;
  padding-left: 5px;
  transition: 0.1s;
}

.ftr-center i {
  display: none;
  transition: 0.1s;
}

.ftr-center a:hover i {
  display: inline-block;
  transition: 0.1s;
}

.rodape2 {
  text-align: center;
  color: #fff;
  background-color: #00538E;
  padding: 20px 10px 5px 10px;
}*/

/* ============SOCIAL FOOTER FACEBOOK============ */

/*.social-footer-fb {
  border: 7px solid transparent;
  transition: 0.2s;
  display: inline-block;
}

.social-footer-fb:hover {
  border: 7px solid #4267B2;
  border-radius: 20px;
  background-color: #4267B2;
  transition: 0.2s;
  box-shadow: 2px 2px 10px #333333;
}*/


/* ============SOCIAL FOOTER TWITTER============ */

/*.social-footer-tw {
  border: 7px solid transparent;
  transition: 0.2s;
  display: inline-block;
}

.social-footer-tw:hover {
  border: 7px solid #1DA1F2;
  border-radius: 20px;
  background-color: #1DA1F2;
  transition: 0.2s;
  box-shadow: 2px 2px 10px #333333;
}*/


/* ============SOCIAL FOOTER LINKEDIN============ */

/*.social-footer-li {
  border: 7px solid transparent;
  transition: 0.2s;
  display: inline-block;
}

.social-footer-li:hover {
  border: 7px solid #0077B5;
  border-radius: 20px;
  background-color: #0077B5;
  transition: 0.2s;
  box-shadow: 2px 2px 10px #333333;
}*/


/* ============SOCIAL FOOTER YOUTUBE============ */

/*.social-footer-yt {
  border: 7px solid transparent;
  transition: 0.2s;
  display: inline-block;
}

.social-footer-yt:hover {
  border: 7px solid #E62117;
  border-radius: 20px;
  background-color: #E62117;
  transition: 0.2s;
  box-shadow: 2px 2px 10px #333333;
}*/


/* SOCIAL FLUTUANTE */

#social-flut {
  width: auto;
  height: auto;
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 900;
}

#social-flut a {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#fb-flut {
  width: 38px;
  height: 30px;
  background-color: #c9c9c9;
  margin-top: 3px;
  margin-bottom: 3px;
  transition: 0.3s;
  border-left: 7px solid #4267B2;
}

#tw-flut {
  width: 38px;
  height: 30px;
  background-color: #c9c9c9;
  margin-top: 3px;
  margin-bottom: 3px;
  transition: 0.3s;
  border-left: 7px solid #1DA1F2;
}

#li-flut {
  width: 38px;
  height: 30px;
  background-color: #c9c9c9;
  margin-top: 3px;
  margin-bottom: 3px;
  transition: 0.3s;
  border-left: 7px solid #0077B5;
}

#yt-flut {
  width: 38px;
  height: 30px;
  background-color: #c9c9c9;
  margin-top: 3px;
  margin-bottom: 3px;
  transition: 0.3s;
  border-left: 7px solid #E62117;
}


/* FACEBOOK */

#fb-flut:hover {
  background-color: #4267B2;
  transition: 0.1s;
  border-left: 13px solid #4267B2;
  width: 44px;
  min-width: 30px;
}

#fb-flut:active {
  background-color: #5a86e5;
  border-left: 10px solid #5a86e5;
}

#fb-flut img {
  width: 30px;
  height: 30px;
}


/* TWITTER */

#tw-flut:hover {
  background-color: #1DA1F2;
  transition: 0.1s;
  border-left: 13px solid #1DA1F2;
  width: 44px;
  min-width: 30px;
}

#tw-flut img {
  width: 30px;
  height: 30px;
}

#tw-flut:active {
  background-color: #79c6f5;
  border-left: 10px solid #79c6f5;
}


/* LINKEDIN */

#li-flut:hover {
  background-color: #0077B5;
  transition: 0.1s;
  border-left: 13px solid #0077B5;
  width: 44px;
  min-width: 30px;
}

#li-flut img {
  width: 30px;
  height: 30px;
}

#li-flut:active {
  background-color: #05a2f4;
  border-left: 10px solid #05a2f4;
}


/* YOU TUBE */

#yt-flut:hover {
  background-color: #E62117;
  transition: 0.1s;
  border-left: 13px solid #E62117;
  width: 44px;
  min-width: 30px;
}

#yt-flut img {
  width: 30px;
  height: 30px;
}

#yt-flut:active {
  background-color: #ff5d55;
  border-left: 10px solid #ff5d55;
}

/* ===============SOCIAL NAV=============== */
.social-nav {
  display:inline-block;
}

.social-nav li {
  list-style: none;
  display: inline;
}

.social-nav a {
  background-color:transparent;
  display: inline-block;
  padding-top:18px !important;
  padding-bottom:18px !important;
  padding-left:22px !important;
  padding-right:22px !important;
  float: left;
  transition:0.1s;
}

.social-nav a:hover {
  background-color:#0066AB !important;
  transition:0.1s;
}

/* ===========SOCIAL BOTTOM=========== */
.social-bottom {
  display:none;
  background-color:#fcfcfc;
  width:100%;
  height:auto;
  text-align: center;
  position:fixed;
  bottom:0;
  border-top:1px solid #e1e1e1;
}

.social-bottom-fb, .social-bottom-tw, .social-bottom-li, .social-bottom-yt {
  display:inline-block;
  float:left;
  width:25%;
  padding-top:15px;
  padding-bottom:15px;
  border-right:1px solid #e1e1e1;
}

.social-bottom-fb a {
  color:#4267B2;
}

.social-bottom-tw a {
  color:#1DA1F2;
}

.social-bottom-li a {
  color:#0077B5;
}

.social-bottom-yt a {
  color:#E62117;
}


/* ===========SCROLL TO TOP=========== */

/*#estilototop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 199;
  border: none;
  border-radius:50px;
  outline: none;
  background-color: rgba(0, 114, 188, 0.7);
  color: #fff;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

#estilototop i {
  margin-bottom:5px;
  margin-left:2px;
  margin-right:2px;
  transition: 0.3s;
  color: #fff;
}

#estilototop:hover {
  background-color: #005CA1;
  transition: 0.2s;
  border-radius: 50px;
}

#estilototop:focus {
  background-color: #005CA1;
  border-radius: 50px;
}

#estilototop:active {
  background-color: #003F6C;
}

#estilototop:hover i {
  transition: 0.2s;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

#subirbtn {
  bottom: 20px;
  transition: 0.3s;
}

#scrollhere {
  margin-top: -60px;
  padding-top: 60px;
}*/
